NEWS_API_KEY=your_newsapi_key_here
GNEWS_API_KEY=your_gnews_key_here
POSTGRES_USER=postgres  # you should probably change this
POSTGRES_PASSWORD=default1 # maybe this one too?
POSTGRES_DB=aggregator # stop being lazy, don't use the defaults!
OLLAMA_HOST=http://your_ollama_ip:11434
OLLAMA_MODEL=your_model_name_here
SECRET_KEY=generate_with_python3_-c_import_secrets_print_secrets.token_hex_32
EMBEDDING_MODEL=your_model_name_here # suggest nomic-embed-text